*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* div{
    background-color: pink;
    display:inline
} */

div{
    width:200px;
    height:200px;
    margin:25px;
    padding: 25px;
    display: inline-block;
}
button{
    background-color: orange;
}

#box1{
    background-color: blue;
}
#box2{
    background-color: green;
    /* display: none;   this will hide box2  */
}
#box3{
    background-color: red;
}