/* #box1{
    height: 100px;
    width: 100px;
    background-color: green;
    font-size: 10px;
}
#box2{
    height: 50px;
    width: 30%;
    margin-top: 10%;
    margin-left: 20%;
    background-color: red;
    /* 2 times of parent font-size */
    /* font-size: 2em; */
    /* 5 times of this font-size */
    /* width: 5em; */
/* } */

div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}

#box1{
    position: static;
    background-image: url('cat.jpg');
    background-size: cover;
}

#box2{
    position:relative;
    top:10px;
    left: 20px;
}

#box3{
    /*  when sticky it will be fixed when user scroll */
    position: sticky;
    top: 0px;
    left: 10px;
}

#box4{
    position: fixed;
    top:0
}